body {
  background-color: #f2f4f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}
header h1{
  color:#738196;
}
.container{
  max-width: 650px;
}
.search-form{
  display: flex;
  flex-direction: row;
}
.search-input{
  display: flex;
  widows: 80px;
  margin-right: 10px;
  background-color: #f2f4f7;
}
.search-button{
  border: none;
  border-radius: 20px;
  background-color: white;
}
button:focus {
  outline:0;
}
textarea:focus, input:focus{
    outline: none;
}

.results{
  display: flex;
  flex-direction:column ;
  padding-top: 20px;
}
.eachResult{
  display: flex;
  flex-direction: row;
  border: solid 1px #a0aaba;
}
.eachResult:hover{
  background-color: #d4e2f9;
  opacity: .2;
}

}
.albumCover{
  display: flex;
  flex-direction:column;
  text-align: center;
}
.info {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-content: center;
  justify-content: center;
  font-family: 'Hammersmith One', sans-serif;
  margin-left: 50px;
}
.name{
  color:#a0aaba;
}
.albumName{
  color: #8a98ad;
  font-weight: bolder;
}
.songName{
  color:#8a98ad;
  font-size: 20px;
}
@media only screen and (min-width: 700px) {
      .container {
          max-width: 900px;
      }
      .eachResult{
        flex-basis: 40%;
        margin-right: 20px;
      }

      .results{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
  }
@media only screen and (min-width: 965px) {
      .container{
          max-width: 1100px;
        }
        .eachResult{
          display: flex;
          flex-basis: 30%;
        }

  }
